.DS_Store
__pycache__/
*.pyc
logs/*.log

# output
*.h5

# pycharm
.idea/*

# Latex
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.pdf
report/*.synctex.gz

/trained_models
data/
src/playground/
